
*,*:before,*:after
{
box-sizing:border-box}

html
{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%}

body
{
	margin:0;
	position:relative;
background:url("imgs/magic-repeater-sm.jpg") top repeat-y #010913 fixed}

svg
{
display:block}

svg:not(:root)
{
overflow:hidden}

.container
{
	margin:0 calc((100vw - 1050px) / 2);
max-width:1050px}

.navigation-main a:hover
{
	color:#f2e9da;
background:linear-gradient(to top, rgba(242,233,218,0.05) 0%, transparent 100%)}

.rune-path--path_image
{
	width:107px;
	height:100px;
	display:flex;
	justify-content:center;
	align-items:flex-start;
position:relative}

.PathButton__Circles
{
	margin:-32px;
	position:absolute;
	top:50%;
	left:50%;
	width:64px;
height:64px}

.PathButton__Circles .path-icon--moon
{
	cx:50%;
	cy:50%;
	r:43%;
	fill:none;
	stroke-width:2;
	transform:translateY(6%);
transform-origin:50% 50%}

.PathButton__Circles .moon-left
{
transform:rotate(120deg) translateY(6%)}

.PathButton__Circles .moon-right
{
transform:rotate(240deg) translateY(6%)}

.PathButton__Cup
{
	width:86px;
	height:86px;
	position:absolute;
	left:11px;
bottom:8px}

.rune-path--path
{
display:flex}

.rune-path--path_meta
{
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:198px;
height:100px}

.rune-path--path_meta p
{
	max-height:32px;
	min-height:32px;
	font-size:12px;
line-height:16px}

.rune-path--icon
{
	margin:0;
	width:36px;
	height:36px;
	position:absolute;
	top:50%;
	left:50%;
transform:translate(-50%, -50%)}

.rune-path--name
{
	font-size:12px;
	line-height:22px;
	font-weight:700;
	letter-spacing:0.075em;
margin:0}

.rune-path--rune
{
display:flex}

.rune-path .rune-path--rune:first-of-type .rune-path--rune_image,.rune-path .rune-path--rune:first-of-type .rune-path--rune_meta
{
height:115px}


.rune-path--primary .rune-path--rune:first-of-type .rune-path--rune_name
{
	font-size:15px;
line-height:20px}

.rune-path--rune_image
{
	width:107px;
	height:95px;
	display:flex;
	justify-content:center;
	align-items:center;
position:relative}


.rune-image
{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
z-index:1}

.rune-image--frame
{
	height:48px;
	width:48px;
position:relative}

.rune-image--frame img
{
max-width:none}

.rune-image--frame:hover .rune-image--border-outer
{
	opacity:0.5;
transform:translate(-50%, -50%) scale(1)}

.rune-image--border
{
	position:relative;
z-index:0}

.rune-image--border-outer
{
	opacity:0;
	width:62px;
	height:62px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%) scale(1);
transition:0.2s ease}

.rune-image--border-outer
{
	width:62px;
height:62px}

.rune-keystone .rune-image--border-outer
{
	width:76px;
height:76px}

.rune-keystone .rune-image--frame
{
	display:block;
	padding:0;
	border:0;
	background:#1e2328;
	border-radius:50%;
	box-shadow:inset 0 0 7px #000, 0 0 1px #000;
	position:relative;
	transition:opacity 0.2s, filter 0.2s;
	width:62px;
height:62px}



.rune-keystone .rune-image
{
	width:108px;
height:108px}

.stat-shards
{
	position:relative;
margin-top:25px !important}

.stat-shards .rune-path--rune
{
cursor:default !important}

.stat-shards .rune-path--rune_image,.stat-shards .rune-path--rune_meta
{
height:40px !important}

.stat-shards .rune-image--frame
{
	height:30px;
width:30px}

.stat-shards .rune-image
{
	height:30px;
	width:30px;
	filter:drop-shadow(0 0 8px rgba(200,170,110,0.85));
animation:shard-glow 4s linear infinite}

.stat-shards .rune-image--border
{
overflow:visible !important}

.stat-shards .rune-image--border-outer
{
	height:40px;
	width:40px;
overflow:visible !important}

.stat-shards .rune-path--rune_header
{
margin:0}

.stat-shards .rune-path--rune_meta
{
text-shadow:0 1px 6px black}

.stat-shards .rune-name
{
text-shadow:0 1px 4px rgba(0,0,0,0.35)}

.player--headshot-frame-outer
{
	border-radius:50%;
	padding:4px;
	background:#5d471d;
background:linear-gradient(to bottom, #decda1, #735821)}

.rune-paths
{
	padding:2px;
	margin:3em 0 1em;
	background:#5d471d;
	background:linear-gradient(0deg, #6c5021 0%, #ab8f57 100%);
	box-shadow:0 0 80px #000;
	z-index:0;
position:relative}

.rune-paths--frame
{
display:flex}

.rune-paths--inner
{
	display:flex;
	flex-direction:column;
	padding:30px 15px;
	background-position:right center;
	background-repeat:no-repeat;
	background-size:cover;
position:relative}

.rune-paths--inner .player-frame
{
	position:absolute;
	top:25px;
	right:-20px;
z-index:2}

.rune-paths--inner .backdrop
{
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	right:0;
	z-index:-2;
	pointer-events:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	will-change:transform;
	transition:0.3s;
opacity:1}

.rune-paths--inner .rune-path
{

	width:305px;
}

.rune-paths--inner .rune-path--tree
{
	display:flex;
	flex-direction:column;
	margin:0;
	padding:0;
list-style:none}

.rune-paths--inner img
{
max-width:none}




.rune-path--rune_meta{display:flex;flex-direction:column;justify-content:center;position:relative;width:198px;height:90px}

.rune-path--rune_name{margin:0;font-family:"Beaufort", serif;text-transform:uppercase;color:#f2e9da;font-size:12px;line-height:16px;font-weight:700}
.rune-path--rune_description{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;max-height:46px;font-size:12px;line-height:16px}
.rune-path--rune_description{color:white}